body {
background-image: url("bg.png");
background-size: auto;
background-position: left top;
font-family: sans-serif;
}

a { 
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
}

body {
    background-image: url("bg.png");
    font-family: Arial, sans-serif;
    width: 800px;
    margin: auto;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(134, 86, 127);
    position: fixed;
    width: 14%;
    top: 0;
    float: right;
    margin-left: 400px;
    text-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    
    text-decoration: none;
    }
  
  li a:hover:not(.active) {
    color:#c77ac3;
  }
  
  .active {
    background-color:#c77ac3;
  }
  
  .header {
    background: #c77ac3;
    height: 300px;
    width: 600px;
    -webkit-border-radius: 0px 0px 350px 350px;
    -moz-border-radius: 0px 0px 350px 350px;
    border-radius: 0px 0px 350px 350px;
    position: center;
    margin: auto;  
    margin-top: -20px;
   
  }
  
  .ueberschrift {
  color: rgb(255, 255, 255);
  font-size: 85px;
  font-family: 'Spartan', sans-serif;
  margin: auto;
  margin-top: -220px;
  margin-left: 220px;
  margin-bottom: 200px;
  }
  
  .icon {
  width: 100px;
  height: 100px;
  margin-top: -195px;
  margin-left: 450px;
  margin-bottom: 100px;
  }

   .icon img:hover {
  opacity: 60%;
  }
  
  h2 {
  font-size: 23px;
color: #c77ac3 ;
  font-family: 'Spartan', sans-serif;
  letter-spacing: 3px;
  }
  
  input {
  width: 25%;
  height: 20px;
  background-color: rgb(185, 185, 185);
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 3px;
  outline: none;
  }
  
  .Datenschutz {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  }
  
  button {
  width: 10%;
  height: 20px;
  background-color: rgb(185, 185, 185);
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 3px;
  
  }