body {
    background-image: url(bg.png);
}

.Karte {
    background-image: url(wrapperbg.png);
    height: 400px;
    width: 600px;
    margin: auto;
    margin-top: 150px;
}

#title {
    color: white;
    text-align: left;
    padding: 45px;
    margin-left: 25px;
}

.shell_1 {
    margin-left: 70px;
    margin-top: 120px;
    width: 70px;
    height: 63.5px;
}

.shell_2 {
    margin-left: 200px;
    margin-top: -170px;
    width: 70px;
    height: 63.5px;
}

.shell_3 {
    margin-left: 370px;
    margin-top: 0px;
    width: 70px;
    height: 63.5px;
}

.hover:hover {
    opacity: 0%;
    transition-duration: 0.3s;
}

.shell_1:hover {
    background-image: url(muschel_perle.png);
}

.shell_2:hover {
    background-image: url(muschel_perle.png);
}

.shell_3:hover {
    background-image: url(muschel_perle.png);
}